body {
  color: #fff;
  background: #ffffff;
  font-family:sans-serif;
}

.topbar{
  background-color:#563d7c;
  padding-top: 1em;
padding-bottom: 1em;
font-size:1.2em; 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.btn-addExpense 
{
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c; /*set the color you want here*/
}
.btn-addExpense:hover, .btn-addExpense:focus, .btn-addExpense:active, .btn-addExpense.active, .open>.dropdown-toggle.btn-addExpense {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c; /*set the color you want here*/
}
.tiles-margin{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

.maintile-padding{
  padding: 2%;
  border: 1px solid black;
  background-color: #eff0f1;
}

.tiles-outline{
  border: 1px solid black;
  border-radius: 25px;
  background-color: #eff0f1;
  margin-top:1%;
  color:#563d7c;
}
.tiles-flex{
  display:flex;
}

.tiles-amount{
  margin:auto;
}

.tiles-header-expensename{
    padding-top: 1%;
}

.tiles-header-expensecost{
  color:black;
  padding-top:1%;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .mobile-nopadding{
      padding:0% !important;
      margin-top: 2%;
    }
    .tiles-outline{
      margin-top:3%;
      font-size:0.9em;
    }
}